<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.mapper.StudentMapper">

	<resultMap type="com.ds.domain.LectureVO" id="lectureMap">
		<id property="lecture_no" column="lecture_no" />
		<result property="lecture_name" column="lecture_name" />
		<result property="lecture_description"
			column="lecture_description" />
		<result property="lecture_afreecaid" column="lecture_afreecaid" />
		<result property="regdate" column="regdate" />
		<result property="user_name" column="user_name" />
		<result property="savedLecImage" column="savedLecImage" />
		<collection property="classList" resultMap="classMap">
		</collection>
	</resultMap>

	<resultMap type="com.ds.domain.ClassListVO" id="classMap">
		<result property="lecture_no" column="lecture_no" />
		<result property="user_no" column="user_no" />
		<result property="class_status" column="class_status" />
	</resultMap>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='N'.toString()">
							lecture_name like '%'||#{keyword}||'%'
						</when>
						<when test="type=='T'.toString()">
							user_name like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="lectureConfirmList"	resultType="com.ds.domain.LectureVO">
		select l.lecture_no, l.lecture_name, u.user_name, l.lecture_afreecaid from 
		(select l2.lecture_no, l2.lecture_name, c2.user_no, l2.lecture_afreecaid 
		from ds_lecture l2, ds_class_list c2 
		where l2.lecture_no=c2.lecture_no 
		and user_no=#{user_no} and c2.class_status='true') l , 
		ds_class_list c, ds_auth a, ds_user u 
		where l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no
		order by lecture_no
	</select>

	<select id="lectureList" resultType="com.ds.domain.LectureVO">
		select l.lecture_no, l.lecture_name, u.user_name from 
		(select l2.lecture_no, l2.lecture_name, c2.user_no 
		from ds_lecture l2, ds_class_list c2 
		where l2.lecture_no=c2.lecture_no 
		and user_no=#{user_no} and c2.class_status='false') l , 
		ds_class_list c, ds_auth a, ds_user u 
		where l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no
		order by lecture_no
	</select>

	<select id="lectureAllList" resultType="com.ds.domain.LectureVO">
		<![CDATA[
		select l.lecture_no, l.lecture_name, u.user_name, l.savedLecImage from 
		(select rownum rn, lecture_no, lecture_name, lecture_afreecaid, savedLecImage from ds_lecture
        where lecture_no not in (select lecture_no from ds_class_list where user_no=#{user_no}) 
        and rownum<= #{pageNum} * #{amount}) l,
		ds_class_list c, ds_auth a, ds_user u 
		where l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no
        and 
        ]]>

		<include refid="criteria"></include>
  
		<![CDATA[
		rn>(#{pageNum}-1)*#{amount}        
		order by lecture_no
		]]>
	</select>


	<select id="lectureInfo" resultType="com.ds.domain.LectureVO">
		select l.lecture_no, l.lecture_name, l.lecture_description, u.user_name, l.savedlecimage from  
		ds_lecture l , ds_class_list c, ds_auth a, ds_user u 
		where l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no
		and l.lecture_no=#{lecture_no}
	</select>


	<select id="getTotalCount" resultType="int">
	    <![CDATA[
	    select count(*) from (select lecture_no, lecture_name, lecture_afreecaid from ds_lecture
        where lecture_no not in (select lecture_no from ds_class_list where user_no=#{user_no})) l,
		ds_class_list c, ds_auth a, ds_user u  where
	    ]]>
			<include refid="criteria"></include>
	    <![CDATA[
	   l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no
	    ]]>
	</select>

	<insert id="applyClass">
		insert into ds_class_list (lecture_no, user_no, class_status)
		VALUES (#{lecture_no}, #{user_no}, 'false')
	</insert>
	
	
	<select id="applyDuplicated" resultType="int">
	SELECT count(*) FROM ds_class_list 
	WHERE user_no=#{user_no} and lecture_no=#{lecture_no}
	</select>

	<select id="user_read" resultType="com.ds.domain.UserVO">
		select * from ds_user where user_id = #{user_id} 
	</select>
	
	<update id="user_update">
		update ds_user set user_email = #{user_email}, user_mobile = #{user_mobile}, user_depart = #{user_depart}, user_pw = #{user_pw}
		where user_id = #{user_id}
	</update>
	
	<delete id="user_delete">
		delete ds_user where user_no = #{user_no}		
	</delete>	
	
	<select id="qa_list" resultType="com.ds.domain.QuestionsVO">
		SELECT Q.QA_NO, Q.QA_WRITER, Q.QA_TITLE, Q.QA_DATE, Q.QA_STATUS
		FROM DS_QA Q
		LEFT OUTER JOIN DS_USER U
		ON q.qa_writer = u.user_id
		WHERE USER_NO = #{USER_NO}
		ORDER BY QA_DATE
	</select>
	
	<insert id="qa_register">
		INSERT INTO 
			ds_qa (qa_no, qa_writer, qa_title, qa_content, qa_date)
		VALUES 
			(ds_qa_seq.nextval, #{qa_writer}, #{qa_title}, #{qa_content}, sysdate)
		<selectKey resultType="long" keyProperty="qa_no" order="AFTER">
			SELECT ds_qa_seq.currval from dual
		</selectKey>		
	</insert>
	
	<select id="qa_get" resultType="com.ds.domain.QuestionsVO">
		SELECT * FROM DS_QA WHERE QA_NO = #{QA_NO}
	</select>
	
	<select id="main_read" resultType="com.ds.domain.QuestionsVO">
		select qa_no, qa_writer, qa_title,
		qa_content,qa_hit
		from ds_qa where qa_no=#{qa_no}
	</select>
	
	<select id="tqa_list" resultType="com.ds.domain.TeacherQuestionsVO">
		SELECT Q.TQA_NO, Q.TQA_WRITER, Q.TQA_TITLE, Q.TQA_DATE, Q.TQA_replyer, Q.TQA_STATUS
		FROM DS_TQA Q
		LEFT OUTER JOIN DS_USER U
		ON q.tqa_WRITER = u.user_name
		WHERE USER_NO = #{USER_NO}
		ORDER BY tqa_no
	</select>
	
	<select id="tqa_get" resultType="com.ds.domain.TeacherQuestionsVO">
		SELECT * FROM DS_TQA WHERE TQA_NO = #{TQA_NO}
	</select>
	
	<insert id="tqa_register">
		INSERT INTO 
			ds_tqa (tqa_no, tqa_writer, tqa_title, tqa_content, tqa_date, tqa_replyer)
		VALUES 
			(ds_tqa_seq.nextval, #{tqa_writer}, #{tqa_title}, #{tqa_content}, sysdate, #{tqa_replyer})
		<selectKey resultType="long" keyProperty="tqa_no" order="AFTER">
			SELECT ds_tqa_seq.currval from dual
		</selectKey>		
	</insert>
	
	<select id="getTeacherName" resultType="String">
	select distinct u.user_name from 
		(select l2.lecture_no, l2.lecture_name, c2.user_no 
		from ds_lecture l2, ds_class_list c2 
		where l2.lecture_no=c2.lecture_no 
		and user_no=#{user_no} and c2.class_status='true') l , 
		ds_class_list c, ds_auth a, ds_user u 
		where l.lecture_no=c.lecture_no and
		c.user_no=a.user_no and a.user_auth='ROLE_TEACHER' and a.user_no=u.user_no		
	</select>
	
	<update id="upHit" parameterType="int">
    	UPDATE ds_qa SET
    	qa_hit = qa_hit+1
    	WHERE qa_no = #{qa_no}
    </update>
	
</mapper>
